<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" href="/css/styles.css">

</head>
<body>
	<div class="main-content">
		{{>header }}
		<p>This created by Mantse Akai. It uses data from MapBox API to display weather information.</p>
		<img src="/img/10.jpg" class="potrait">
		<p>{{name}}</p>
	</div>
	{{>footer}}
</body>
</html>